<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js" prefix="og: http://ogp.me/ns#">
<head><link rel="stylesheet" type="text/css" href="http://paradoxcreates.com/wp-content/cache/minify/000000/M9AvSCxKTMmv0M_LL8pNzMmsStUxgIsVl1TmpAIA.css" media="all" />

  <meta charset="UTF-8">
  <meta property="og:image" content="http://paradoxcreates.com/wp-content/themes/paradox/img/paradox.jpg" />
  <title>Blog - Paradox Design Studio : Paradox Design Studio</title>

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "b70b405c-c0dd-4074-bdac-e5ebbb784599", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>

  <script type="text/javascript" src="//use.typekit.net/ckj5zmt.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- dns prefetch -->
  <link href="//www.google-analytics.com" rel="dns-prefetch">

  <!-- meta -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- icons -->
  <link href="http://paradoxcreates.com/wp-content/themes/paradox/img/icons/favicon.ico" rel="shortcut icon">
  <link href="http://paradoxcreates.com/wp-content/themes/paradox/img/icons/touch.png" rel="apple-touch-icon-precomposed">

  <!-- css + javascript -->

  <!-- This site is optimized with the Yoast WordPress SEO plugin v1.5.2.7 - https://yoast.com/wordpress/plugins/seo/ -->
  <link rel="canonical" href="http://paradoxcreates.com/blog/" />
  <link rel="next" href="http://paradoxcreates.com/blog/page/2/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Blog - Paradox Design Studio" />
  <meta property="og:url" content="http://paradoxcreates.com/blog/" />
  <meta property="og:site_name" content="Paradox Design Studio" />
  <meta property="article:publisher" content="https://www.facebook.com/ParadoxAdvertising" />
  <meta property="fb:admins" content="1356245812" />
  <!-- / Yoast WordPress SEO plugin. -->



  <script type="text/javascript" src="http://paradoxcreates.com/wp-content/cache/minify/000000/yygpKbDS10_MSqzQS8_PT89JTSzILNZLzs8Fi-nnZCYV62cVlqYWVeob6hka6BlCeXq5mXl6WcUA.js"></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/conditionizr.js/2.2.0/conditionizr.min.js?ver=2.2.0'></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js?ver=2.6.2'></script>
  <script type="text/javascript" src="http://paradoxcreates.com/wp-content/cache/minify/000000/Zc5JDoAgEETRCxnhSs2glCENduPA7d0qbl_yU2VNJaFQbrOpIfapyGTfpl5Kzlr7ly_qtYDbV8EYZNuPKH0m7i2BV80IcVhY0E4EHTqBcy7H3xnUpg8.js"></script>
</head>
<body class="blog creatingaworkshop">

<!-- header -->
<header class="header clear" role="banner">
  <div class="wrapper">
    <!-- logo -->
    <div class="logo">
      <a href="http://paradoxcreates.com">
        <img src="http://paradoxcreates.com/wp-content/themes/paradox/img/logo.png" alt="Logo" class="logo-img">
      </a>
    </div>
    <!-- /logo -->

    <!-- nav -->
    <nav id="sticker" class="nav" role="navigation">
      <ul><li id="menu-item-902" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-902"><a href="http://paradoxcreates.com/about/">About</a></li>
        <li id="menu-item-901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-901"><a href="http://paradoxcreates.com/services/">Services</a></li>
        <li id="menu-item-903" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-903"><a href="http://paradoxcreates.com/projects/">Work</a></li>
        <li id="menu-item-900" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-895 current_page_item current_page_parent menu-item-900"><a href="http://paradoxcreates.com/blog/">Blog</a></li>
        <li id="menu-item-899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-899"><a href="http://paradoxcreates.com/contact/">Contact</a></li>
      </ul>					</nav>
    <!-- /nav -->
  </div>
</header>
<!-- /header -->
<div class="wrapper">
<!-- section -->
<section role="main">

<h1>Latest Posts</h1>


<!-- article -->
<article id="post-1186" class="post-1186 post type-post status-publish format-standard hentry category-uncategorized">

  <!-- post thumbnail -->
  <!-- /post thumbnail -->
  <div class="postheading">
    <!-- post details -->
    <div class="postdetails">
      <span class="author">Ambert Rodriguez </span>
      <span class="date">April 22, 2014</span>
    </div>
    <!-- /post details -->

    <!-- post title -->
    <h2>
      <a href="http://paradoxcreates.com/creatingaworkshop/" title="Creating a Workshop">Creating a Workshop</a>
    </h2>
    <!-- /post title -->
  </div>

  <div class="postsocial">
    <div id="sharecont">
      <span class='st_facebook_custom' displayText='Facebook'></span>
      <span class='st_twitter_custom' st_via="" st_url='http://paradoxcreates.com/creatingaworkshop/' st_title=""></span>

    </div>
  </div>

  <div class="postexcerpt">
    <p><img class="alignnone size-full wp-image-1187" alt="betaworkshop1" src="http://paradoxcreates.com/wp-content/uploads/2014/04/betaworkshop1.jpg" /> <img class="alignnone size-full wp-image-1188" alt="betaworkshop2" src="http://paradoxcreates.com/wp-content/uploads/2014/04/betaworkshop2.jpg" /> <img class="alignnone size-full wp-image-1189" alt="betaworkshop3" src="http://paradoxcreates.com/wp-content/uploads/2014/04/betaworkshop3.jpg" /></p>
    <p>On Wednesday, April 9, we held our very first Brand Bat strategy workshop. Although this was the beta-test version of the event, we had a great time connecting with some passionate people looking to fine-tune their branding. We hosted a variety of participants ranging from leaders in business and nonprofits, to start-ups. In exchange for their feedback and willingness to share about the experience, our participants received the whole enchilada and are well on their way to creating their own brand strategy.</p>
    <p>We’re in the process of reviewing all the feedback now and crafting an even better version of the workshop for our next event on <a href="http://www.thebrandbat.com" target="_blank">Wednesday, June 4</a>. If you and/or your team are looking to get a handle on branding for your organization, consider <a href="http://thebrandbat.com" target="_blank">signing up for our next workshop</a>.</p>
  </div>

</article>
<!-- /article -->


<!-- article -->
<article id="post-1168" class="post-1168 post type-post status-publish format-standard has-post-thumbnail hentry category-branding-blog category-communication-blog category-leadership-blog">

  <!-- post thumbnail -->
  <a href="http://paradoxcreates.com/time-prune/" title="Time For Pruning">
    <img src="http://paradoxcreates.com/wp-content/uploads/2014/02/pruning-blog.jpg" class="attachment-post-thumbnail wp-post-image" alt="pruning-blog" />			</a>
  <!-- /post thumbnail -->
  <div class="postheading">
    <!-- post details -->
    <div class="postdetails">
      <span class="author">Ambert Rodriguez </span>
      <span class="date">February 14, 2014</span>
    </div>
    <!-- /post details -->

    <!-- post title -->
    <h2>
      <a href="http://paradoxcreates.com/time-prune/" title="Time For Pruning">Time For Pruning</a>
    </h2>
    <!-- /post title -->
  </div>

  <div class="postsocial">
    <div id="sharecont">
      <span class='st_facebook_custom' displayText='Facebook'></span>
      <span class='st_twitter_custom' st_via="" st_url='http://paradoxcreates.com/time-prune/' st_title=""></span>

    </div>
  </div>

  <div class="postexcerpt">
    <p>Growing your business is a continual process of pruning. I love this quote from Necessary Endings:</p>
    <p><em>“for us to ever get to a new level, a new tomorrow, or the next step, something has to end. Life has seasons, stages, and phases. For there to be anything new, old things always have to end, and we have to let go of them.”</em></p>
    <p><a href="https://itun.es/us/-jbQw.l" target="_blank">Excerpt From: Dr. Henry Cloud. “Necessary Endings.” iBooks.</a></p>
    <p>This is also important in your brand communicating your mission to your audience or customers. What things are you communicating that need to end? On a personal note, what things do you personally need to end?</p>
    <p>Here at Paradox, we are evaluating everything. From our clients to our process.</p>
  </div>

</article>
<!-- /article -->


<!-- article -->
<article id="post-1158" class="post-1158 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">

  <!-- post thumbnail -->
  <a href="http://paradoxcreates.com/two-years/" title="Two Years">
    <img src="http://paradoxcreates.com/wp-content/uploads/2014/02/twoYears-blog.jpg" class="attachment-post-thumbnail wp-post-image" alt="twoYears-blog" />			</a>
  <!-- /post thumbnail -->
  <div class="postheading">
    <!-- post details -->
    <div class="postdetails">
      <span class="author">Ambert Rodriguez </span>
      <span class="date">February 10, 2014</span>
    </div>
    <!-- /post details -->

    <!-- post title -->
    <h2>
      <a href="http://paradoxcreates.com/two-years/" title="Two Years">Two Years</a>
    </h2>
    <!-- /post title -->
  </div>

  <div class="postsocial">
    <div id="sharecont">
      <span class='st_facebook_custom' displayText='Facebook'></span>
      <span class='st_twitter_custom' st_via="" st_url='http://paradoxcreates.com/two-years/' st_title=""></span>

    </div>
  </div>

  <div class="postexcerpt">
    <p>In just two years, we have been able to help kids in foster care, kids that were suddenly left without parents find a safe place to stay. We&#8217;ve helped stop roof leaks, we&#8217;ve helped raise awareness of human trafficking, we&#8217;ve inspired thousands with inspiration quotes every morning. We have helped people eat healthier and discover that food &#8220;can be thy medicine&#8221;. We&#8217;ve partnered with non-profits from Washington to Las Vegas to Texas, to Miami to help make a difference in their communities. And so much more&#8230; in just two years.</p>
    <p><!--?xml version="1.0" encoding="UTF-8" standalone="no"?--></p>
    <div>But it was not me who did all of this; not me alone, anyway. Paradox could not be here if it wasn&#8217;t for a team that has worked hard and smart. A team that believes in the vision I believe in, that we can change the world through design.</div>
    <p>Not many can say that, and we are extremely grateful and humbled to have partnered with our clients to accomplish this.</p>
  </div>

</article>
<!-- /article -->


<!-- article -->
<article id="post-1107" class="post-1107 post type-post status-publish format-standard hentry category-blog category-branding-blog category-design-blog category-web-blog">

  <!-- post thumbnail -->
  <!-- /post thumbnail -->
  <div class="postheading">
    <!-- post details -->
    <div class="postdetails">
      <span class="author">Ambert Rodriguez </span>
      <span class="date">December 12, 2013</span>
    </div>
    <!-- /post details -->

    <!-- post title -->
    <h2>
      <a href="http://paradoxcreates.com/our-new-website/" title="Get Away To Make A Way">Get Away To Make A Way</a>
    </h2>
    <!-- /post title -->
  </div>

  <div class="postsocial">
    <div id="sharecont">
      <span class='st_facebook_custom' displayText='Facebook'></span>
      <span class='st_twitter_custom' st_via="" st_url='http://paradoxcreates.com/our-new-website/' st_title=""></span>

    </div>
  </div>

  <div class="postexcerpt">
    <p>All in all, 2013 was a great year. We experimented, failed, LEARNED and repeated. The key and most important thing to do is repeat. One of the things on our list was a new website. There must have been 6 different versions, some fully coded and almost ready, but we were not completely happy with them. None of them reflected us, our culture and what we want to be. One of the best ways to do something different is to get out of where you are and get a different perspective. So that&#8217;s what I did.</p>
    <h1>Get Away</h1>
    <p>My lovely wife and account executive Melissa, was born and raised on the beautiful island of Jamaica and our web developer, Robert lives there also (more on working with a remote team on another post). So that is where I went to get away. We stayed in a cabin 3,800 feet high with no TV, just internet to dig in and get some work done.</p>
    <p><a href="http://paradoxcreates.com/wp-content/uploads/2013/12/Cabin.jpg"><img class="alignnone size-full wp-image-1109" alt="Cabin" src="http://paradoxcreates.com/wp-content/uploads/2013/12/Cabin.jpg" /></a></p>
    <p><img class="alignnone size-full wp-image-1108" alt="CabinView" src="http://paradoxcreates.com/wp-content/uploads/2013/12/CabinView.jpg" /></p>
    <h1>Design &amp; Content</h1>
    <p>We are always trying to stay ahead of the curve in technology and especially with the tools we use. We designed the entire website in <a href="http://www.bohemiancoding.com/sketch/" target="_blank">Sketch</a>. Sketch was made from the ground up to design apps and websites so the tools I found much easier to use than Photoshop. Photoshop is clunky and full of things that I don&#8217;t need. It&#8217;s made for photo editing, not web design.</p>
    <p>We wanted the person viewing our site to get an understanding of what we do right away, the kind of work we do and most importantly we wanted our site to be viewable on all devices.</p>
    <h1>Conclusion</h1>
    <p>Sometimes it’s necessary to get away to see a fresh perspective on things. And in our line of work, we’re privileged to be able to do that, since all we need is a pen, paper and computer. And a little creativity.</p>
    <p>&nbsp;</p>
  </div>

</article>
<!-- /article -->


<!-- article -->
<article id="post-844" class="post-844 post type-post status-publish format-standard hentry category-blog category-design-blog">

  <!-- post thumbnail -->
  <!-- /post thumbnail -->
  <div class="postheading">
    <!-- post details -->
    <div class="postdetails">
      <span class="author">Sheri Felipe </span>
      <span class="date">June 20, 2013</span>
    </div>
    <!-- /post details -->

    <!-- post title -->
    <h2>
      <a href="http://paradoxcreates.com/were-hiring/" title="We&#8217;re Hiring">We&#8217;re Hiring</a>
    </h2>
    <!-- /post title -->
  </div>

  <div class="postsocial">
    <div id="sharecont">
      <span class='st_facebook_custom' displayText='Facebook'></span>
      <span class='st_twitter_custom' st_via="" st_url='http://paradoxcreates.com/were-hiring/' st_title=""></span>

    </div>
  </div>

  <div class="postexcerpt">
    <h2><em>Update: This position is already filled.</em></h2>
    <h2>Junior Designer &#8211; Full-time</h2>
    <p>Paradox Design Studio is looking for a full-time Junior Designer to join our team. We are a small, but growing team of dedicated creatives with a passion for design. We specialize in creating branding and websites for those out to change the world. We are a creative design studio, but we don&#8217;t sit around and play video games all day. We bust it and get things done. Because changing the world is serious business.</p>
    <p><strong>What you&#8217;ll be doing:</strong><br />
      We can promise you one thing &#8211; you won&#8217;t be bored. You&#8217;ll take on a wide variety of projects including logos and branding, all kinds of print materials, and a good amount of web and social media graphics as well. Some projects will be all yours, and on some you&#8217;ll collaborate with the rest of the team. You&#8217;ll have a lot of interaction with clients. Most of them are pretty inspiring people, so you might actually enjoy it. <a href="http://paradoxcreates.com/were-hiring/#more-844" class="more-link">(more&hellip;)</a></p>
  </div>

</article>
<!-- /article -->


<!-- article -->
<article id="post-832" class="post-832 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-communication-blog">

  <!-- post thumbnail -->
  <a href="http://paradoxcreates.com/a-creative-mission/" title="A Creative Mission">
  </a>
  <!-- /post thumbnail -->
  <div class="postheading">
    <!-- post details -->
    <div class="postdetails">
      <span class="author">Sheri Felipe </span>
      <span class="date">June 7, 2013</span>
    </div>
    <!-- /post details -->

    <!-- post title -->
    <h2>
      <a href="http://paradoxcreates.com/a-creative-mission/" title="A Creative Mission">A Creative Mission</a>
    </h2>
    <!-- /post title -->
  </div>

  <div class="postsocial">
    <div id="sharecont">
      <span class='st_facebook_custom' displayText='Facebook'></span>
      <span class='st_twitter_custom' st_via="" st_url='http://paradoxcreates.com/a-creative-mission/' st_title=""></span>

    </div>
  </div>

  <div class="postexcerpt">
    <p>We believe that what we do on a daily basis at Paradox has a part in changing the world, even though it may be small. This happens mostly through the clients we&#8217;re working with. But sometimes the opportunity comes along to have a more direct impact, like my recent trip with Creative Missions.</p>
    <p>I hopped on a plane to travel to Anchorage, Alaska to meet up with 28 other creative missionaries to spend a week in the trenches, so to speak. This group included designers, writers, photographers, developers, and communications gurus, with a common goal to use their skills and talents to help create sustainable creative solutions for churches and ministries in the area. In some cases, we just worked together to create a new logo or a functional website. We worked with pastors to give them tools they can use to be more effective in their ministry. In the end we saw pastors who now have a renewed vision and confidence for the ministry that they&#8217;ve been called to.</p>
    <p>And I saw a moose for the first time.</p>
    <p>To read the official Creative Missions wrap-up, check out <a href="http://www.churchmarketingsucks.com/2013/05/the-true-beauty-of-alaska-creative-missions-wrap-up/http://" target="_blank">this post from Church Marketing Sucks.</a></p>
  </div>

</article>
<!-- /article -->



<!-- pagination -->
<div class="pagination">
  <span class='page-numbers current'>1</span>
  <a class='page-numbers' href='http://paradoxcreates.com/blog/page/2/'>2</a>
  <a class='page-numbers' href='http://paradoxcreates.com/blog/page/3/'>3</a>
  <a class='page-numbers' href='http://paradoxcreates.com/blog/page/4/'>4</a>
  <a class="next page-numbers" href="http://paradoxcreates.com/blog/page/2/">Next &raquo;</a></div>
<!-- /pagination -->
</section>
<!-- /section -->

</div>

<!-- footer -->
<footer class="footer" id="contact">

  <div class="wrapper">
    <div class="ftrcol1">
      <div class="row1">
        <span>&copy; Paradox Design Studio, Inc</span><span>954.378.2515</span><span><a href="mailto:hola@paradoxcreates.com">hola@paradoxcreates.com</a></span>
      </div>
      <div>
        <p>1909 Harrison St #112, Hollywood, FL 33020</p>
							<span class="social">
							<a href="https://twitter.com/paradoxcreates" class="twitter" target="_blank"></a>
							<a href="https://www.facebook.com/ParadoxAdvertising" class="facebook" target="_blank"></a>
							<a href="https://plus.google.com/105277123675887145655/posts" class="gplus" target="_blank"></a>
							<a href="http://instagram.com/paradoxcreates" class="instagram" target="_blank"></a>
						</span>
      </div>
    </div>

    <a target="_blank" href="http://brandbat.com" class="ftrcol2 brandbaticon">
      <img src="http://paradoxcreates.com/wp-content/themes/paradox/img/icon-brandbat.png">
    </a>

    <a href="http://paradoxcreates.com/contact" class="ftrcol3">
      <span>Work With Us</span>
      <p>Complete this project inquiry</p>
    </a>


  </div>

</footer>
<!-- /footer -->


<script>var GoSquared={acct: "GSN-713006-B"};(function(a){function b(){a._gstc_lt=+(new Date);var b=document;var c=b.createElement("script");c.type="text/javascript";c.async=true;c.src="//d1l6p2sc9645hc.cloudfront.net/tracker.js";var d=b.getElementsByTagName("script")[0];d.parentNode.insertBefore(c,d)}a.addEventListener?a.addEventListener("load",b,false):a.attachEvent("onload",b)})(window)</script>
<!-- analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30035199-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
<script type="text/javascript">
  $(document).ready(function getDribbbleShots() {
    $.jribbble.getShotsByPlayerId('paradoxcreates', function (playerShots) {
      var html = [];
      $.each(playerShots.shots, function (i, shot) {
        html.push('<div class="shot">');
        html.push('<img class="shot-image" src="' + shot.image_url + '" ');
        html.push('alt="' + shot.title + '"></div>');
      });
      $('.dribbble-feed').html(html.join(''));
    }, {page: 1, per_page: 6});
  });
</script>
</html>