<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>UCTS - 官方网站</title>
  <script type="text/javascript" src="/mapper/wz_jsgraphics.js"></script>
  <script type="text/javascript" src="/mapper/mapper.js"></script>
  <style type="text/css">
    body {
      font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      background-color: black;
      margin: 0px;
    }

    .header-logo {
      margin-left: 8%;
      margin-top: 75px;
      float: left;
      position: absolute;
      top: 0px;
      z-index: 9999;
    }

    .header-menu {
      float: right;
      width: 58%;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 9999;
    }

    .header-menu-bar {
      height: 9px;
      background-color: #8FC31F;
    }

    .header-menu-group {
      margin-top: 80px;
      margin-left: 5px;
    }

    .header-menu-item {
      float: left;
      margin-right: 10px;
      color: white;
    }

    .text-en {
      color: #8FC31F;
    }

    .text-cn {
    }

    .header-menu-item a {
      color: white;
      font-size: 12px;
      text-decoration: inherit;
      padding-bottom: 1px;
    }

    .header-menu-item a:hover {
      border-bottom: 2px solid #8FC31F;
    }

    .content {
      text-align: center;
      margin-left: 13%;
      margin-top: 75px;
    }
  </style>
</head>

<body>
<div class="header-logo">
  <!--<img src="img/logo.png" style="width: 170px;"/>-->
</div>
<div class="header-menu">
  <div class="header-menu-bar"></div>
  <div class="header-menu-group">
    <div class="header-menu-item">
      <a href="#"><span class="text-en">HOME</span> <span class="text-cn">机构简介</span></a>
    </div>
    <div class="header-menu-item">
      <a href="/tech"><span class="text-en">TECH</span> <span class="text-cn">专利技术</span></a>
    </div>
    <div class="header-menu-item">
      <a href="/about"><span class="text-en">PRODUCT</span> <span class="text-cn">产品介绍</span></a>
    </div>
    <div class="header-menu-item">
      <a href="/contact"><span class="text-en">CONTACT</span> <span class="text-cn">联系我们</span></a>
    </div>
  </div>
</div>
<div class="content">
</div>

</body>
</html>
