<!DOCTYPE html>
<html>
<head>
  <title>HmHx6</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/css.css"/>

  <meta charset="UTF-8">

  <script type="text/javascript">stLight.options({publisher: "b70b405c-c0dd-4074-bdac-e5ebbb784599", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>

  <script type="text/javascript" src="//use.typekit.net/ckj5zmt.js"></script>
  <script type="text/javascript">try {
    Typekit.load();
  } catch (e) {
  }</script>
  <!-- dns prefetch -->
  <link href="//www.google-analytics.com" rel="dns-prefetch">

  <!-- meta -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- icons -->
  <link href="http://paradoxcreates.com/wp-content/themes/paradox/img/icons/favicon.ico" rel="shortcut icon">
  <link href="http://paradoxcreates.com/wp-content/themes/paradox/img/icons/touch.png" rel="apple-touch-icon-precomposed">

  <!-- css + javascript -->

  <!-- This site is optimized with the Yoast WordPress SEO plugin v1.5.2.7 - https://yoast.com/wordpress/plugins/seo/ -->
  <meta name="description" content="Paradox is a creative studio building websites and brands for clients that change the world. Logo, App Development and Web based in Hollywood, Florida."/>
  <link rel="canonical" href="http://paradoxcreates.com/"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Paradox Design Studio - Websites and Branding"/>
  <meta property="og:description" content="Paradox is a creative studio building websites and brands for clients that change the world. Logo, App Development and Web based in Hollywood, Florida."/>
  <meta property="og:url" content="http://paradoxcreates.com/"/>
  <meta property="og:site_name" content="Paradox Design Studio"/>
  <meta property="article:publisher" content="https://www.facebook.com/ParadoxAdvertising"/>
  <meta property="fb:admins" content="1356245812"/>
  <!-- / Yoast WordPress SEO plugin. -->


  <script type="text/javascript" src="http://paradoxcreates.com/wp-content/cache/minify/000000/yygpKbDS10_MSqzQS8_PT89JTSzILNZLzs8Fi-nnZCYV62cVlqYWVeob6hka6BlCeXq5mXl6WcUA.js"></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/conditionizr.js/2.2.0/conditionizr.min.js?ver=2.2.0'></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js?ver=2.6.2'></script>
  <script type="text/javascript" src="http://paradoxcreates.com/wp-content/cache/minify/000000/Zc5JDoAgEETRCxnhSs2glCENduPA7d0qbl_yU2VNJaFQbrOpIfapyGTfpl5Kzlr7ly_qtYDbV8EYZNuPKH0m7i2BV80IcVhY0E4EHTqBcy7H3xnUpg8.js"></script>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Home"/>
  <meta property="og:url" content="http://paradoxcreates.com/"/>
  <meta property="og:description" content=""/>


</head>
<body class="home page page-id-18 page-template page-template-template-home-php home">

<%= yield %>

<!-- header -->
<header class="header clear" role="banner">
  <div class="wrapper">
    <!-- logo -->
    <div class="logo">
      <a href="http://paradoxcreates.com">
        <img src="http://paradoxcreates.com/wp-content/themes/paradox/img/logo.png" alt="Logo" class="logo-img">
      </a>
    </div>
    <!-- /logo -->

    <!-- nav -->
    <nav id="sticker" class="nav" role="navigation">
      <ul>
        <li id="menu-item-902" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-902">
          <a href="http://paradoxcreates.com/about/">About</a></li>
        <li id="menu-item-901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-901">
          <a href="http://paradoxcreates.com/services/">Services</a></li>
        <li id="menu-item-903" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-903">
          <a href="http://paradoxcreates.com/projects/">Work</a></li>
        <li id="menu-item-900" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-900">
          <a href="http://paradoxcreates.com/blog/">Blog</a></li>
        <li id="menu-item-899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-899">
          <a href="http://paradoxcreates.com/contact/">Contact</a></li>
      </ul>
    </nav>
    <!-- /nav -->
  </div>
</header>
<!-- /header -->
<div class="sections hero" style="background:url('http://paradoxcreates.com/wp-content/uploads/2013/09/home-hero.jpg') no-repeat 0 100%">
  <div class="wrapper">
    <h1 class="herotitle">Paradox is a creative studio building websites and<br>brands for clients that change the
      world.</h1>

    <h2 class="herosubtitle"></h2>

    <span>Learn More About Us And Our Services</span>

    <div class="arrow"></div>
  </div>
</div>
<div class="sections" id="services">
  <div class="wrapper">
    <div class="row">
      <h1 class="title">We believe simplicity beats complexity.</h1>
    </div>
  </div>
  <div class="wrapper">
    <div class="row serviceicons">
      <div>
        <img src="http://paradoxcreates.com/wp-content/uploads/2013/09/icon-brand-home@2x.png">

        <h2>Brand</h2>

        <p>The most effective brands are the ones who are simply and powerfully consistent. We extract the core of your
          identity and shape it into a thriving brand that stands the test of time.</p>
        <a href="http://paradoxcreates.com/services">Learn More</a>
      </div>
      <div>
        <img src="http://paradoxcreates.com/wp-content/uploads/2013/09/icon-web-home.png">

        <h2>Design</h2>

        <p>The logo is just the tip of the iceberg. Every experience a person has with your brand should point back to
          the main thing. We're talking everything from your website and mobile app, to the smallest detail on every
          print piece.</p>
        <a href="http://paradoxcreates.com/services">Learn More</a>
      </div>
      <div>
        <img src="http://paradoxcreates.com/wp-content/uploads/2013/09/icon-strategy-home.png">

        <h2>Strategy</h2>

        <p>Before we can create your shiny new brand to show the world, we have to do the dirty work of understanding
          who you are. We're in the trenches together for this process, including a one-day workshop that helps us get
          down to the nitty gritty.</p>
        <a href="http://paradoxcreates.com/services">Learn More</a>
      </div>
    </div>
  </div>
</div>
<div class="sections" id="about" style="background:url('http://paradoxcreates.com/wp-content/uploads/2013/09/homemiddle.jpg')">
  <div class="wrapper">
    <div class="abouttext">
      <h1>We're passionate about changing the world - one project at a time.</h1>

      <p>Excellent work takes time, strategy and teamwork. And sometimes a little blood, sweat and tears. But we've
        found it's worth it.</p>
      <a href="http://paradoxcreates.com/about">Learn more about our process and team</a>
    </div>
  </div>
</div>
<div class="sections" id="inspiration">
  <div class="wrapper">
    <ul>
      <li><h1>Design solves problems. It’s all about the process of taking an idea or message that seems scattered, and
        making it communicate effectively.</h1>

        <p>

        <p>This is what we do on a daily basis for clients around the globe.</p>
        </li>
    </ul>
    <a class="cta" href="http://paradoxcreates.com/contact">Lets get your project started today</a>
  </div>
</div>
<div class="sections" id="work">
  <div class="wrapper">
    <div class="row">
      <div class="ftworkright">
        <h1>Websites, apps, print and more.</h1>
        <a class="cta" href="http://paradoxcreates.com/projects">View our work</a>
      </div>
      <img src="http://paradoxcreates.com/wp-content/uploads/2013/09/ftproject.jpg">
    </div>
  </div>
</div>
<div class="sections" id="homeblog">
  <div class="wrapper">
    <div class="row">
      <h1 class="title">Recent Blog Posts</h1>
      <ul>
        <li><span class="date">April 22, 2014</span>

          <h1><a href="http://paradoxcreates.com/creatingaworkshop/">Creating a Workshop</a></h1></li>
        <li><span class="date">February 14, 2014</span>

          <h1><a href="http://paradoxcreates.com/time-prune/">Time For Pruning</a></h1></li>
        <li><span class="date">February 10, 2014</span>

          <h1><a href="http://paradoxcreates.com/two-years/">Two Years</a></h1></li>
      </ul>
    </div>
  </div>
</div>
<!-- footer -->
<footer class="footer" id="contact">

  <div class="wrapper">
    <div class="ftrcol1">
      <div class="row1">
        <span>&copy;
          Paradox Design Studio, Inc</span><span>954.378.2515</span><span><a href="mailto:hola@paradoxcreates.com">hola@paradoxcreates.com</a></span>
      </div>
      <div>
        <p>1909 Harrison St #112, Hollywood, FL 33020</p>
							<span class="social">
							<a href="https://twitter.com/paradoxcreates" class="twitter" target="_blank"></a>
							<a href="https://www.facebook.com/ParadoxAdvertising" class="facebook" target="_blank"></a>
							<a href="https://plus.google.com/105277123675887145655/posts" class="gplus" target="_blank"></a>
							<a href="http://instagram.com/paradoxcreates" class="instagram" target="_blank"></a>
						</span>
      </div>
    </div>

    <a target="_blank" href="http://brandbat.com" class="ftrcol2 brandbaticon">
      <img src="http://paradoxcreates.com/wp-content/themes/paradox/img/icon-brandbat.png">
    </a>

    <a href="http://paradoxcreates.com/contact" class="ftrcol3">
      <span>Work With Us</span>

      <p>Complete this project inquiry</p>
    </a>


  </div>

</footer>
<!-- /footer -->


<script>var GoSquared = {acct: "GSN-713006-B"};
(function (a) {
  function b() {
    a._gstc_lt = +(new Date);
    var b = document;
    var c = b.createElement("script");
    c.type = "text/javascript";
    c.async = true;
    c.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
    var d = b.getElementsByTagName("script")[0];
    d.parentNode.insertBefore(c, d)
  }

  a.addEventListener ? a.addEventListener("load", b, false) : a.attachEvent("onload", b)
})(window)</script>
<!-- analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30035199-1']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
<script type="text/javascript">
  $(document).ready(function getDribbbleShots() {
    $.jribbble.getShotsByPlayerId('paradoxcreates', function (playerShots) {
      var html = [];
      $.each(playerShots.shots, function (i, shot) {
        html.push('<div class="shot">');
        html.push('<img class="shot-image" src="' + shot.image_url + '" ');
        html.push('alt="' + shot.title + '"></div>');
      });
      $('.dribbble-feed').html(html.join(''));
    }, {page: 1, per_page: 6});
  });
</script>
</html>
<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Minified using disk
Page Caching using disk: enhanced
Database Caching 1/61 queries in 0.009 seconds using disk
Object Caching 942/1086 objects using disk

 Served from: paradoxcreates.com @ 2014-07-20 01:06:14 by W3 Total Cache -->