<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
  <style type="text/css">
    .sidebar {
      float: left;
      background-color: yellow;
      min-height: 100%;
      width: 200px;
    }

    .content {
      width: 400px;
      height: 400px;
      background-color: blue;
    }
  </style>
</head>
<body>
<div class="sidebar">
</div>
<div class="content">
</div>
</body>
